@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans";
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* Page Content */
section {
  padding-top: 70px;
  width: 100%;
}

#mainImage {
  width: 100%;
  height: auto;
}

main {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}


footer {
  margin 0;
  padding: 20px;
  color: white;
  background-color: rgba(21,23,33,1);
}

#copyright {
  margin: 0;
  padding: 0;
  position: inline-block;
}

.footerWrapper {
  position: absolute;
  margin: 0;
  right: 0px;
  padding-right: 20px;
}

.footerLinks {
  color: rgba(255,159,26,1);
}

.footerLinks:hover {
  cursor: pointer;
}